.rows-container {
  width: calc(100% - 20px);
  border: 1px solid teal;
  padding: 10px;
 .row {
   width: 100%;
  display: inline-flex;
  margin-bottom: 10px;
  .entity {
    width: 100px;
    margin-right: 10px;
  }
  .entity-value {
    width: 100%;
    flex: 1;
  }
 }
}
